html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: linear-gradient(lightgreen, pink);
    color: white;
}

#main {
    font-family: sans-serif;
    width: 50%;
    margin-top: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: rgb(36, 40, 40);
    transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    transition-property: margin-top, width;
    transition-duration: 2s, 2s;
    padding: 15px;
}

.login-container {
    font-size: 40px;
    text-align: center;
}

.login-container .login-btn {
    padding: 20px 40px;
    font-size: 40px;
    color: white;
    margin: 10px;
    border-radius: 40px;
    background-color: rgb(192, 192, 192);
    border: 4px solid rgb(157, 157, 157);
}

.login-container .login-btn:hover {
    background-color: rgb(212, 212, 212);
}

.login-container p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.login-container input {
    border-radius: 10px;
    padding: 5px 10px;
    border: none;
}

.login-container .shelter-login {
    background-color: lightgreen;
    border: 4px solid rgb(105, 172, 105)
}

.login-container .shelter-login:hover {
    background-color: rgb(165, 253, 165);
}

.login-container .donor-login {
    background-color: pink;
    border: 4px solid rgb(209, 151, 161);

}

.login-container .donor-login:hover {
    background-color: rgb(252, 201, 210);

}

#login-form.login-container {
    margin-top: 1em;
}

#login-form input {
    font-size: 25px;
}

#login-form button {
    margin-top: 1em;
}